.auth_background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth_body {
  border-radius: var(--borderRad);
  height: clamp(500px, 60%, 1000px);
  width: clamp(400px, 35%, 600px);
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--black);
}

.auth_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  color: var(--black);
}

.card h2 {
  margin-bottom: 10px;
}

.card a.fp {
  width: 100%;
  display: flex;
  color: var(--black);
}

.login_register {
  display: flex;
  width: 100%;
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 1.5rem;
  margin: 20px 0;
}

.login_register a {
  font-size: 1em;
  border: none;
  width: 50%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_register a.login {
    height: 100%;
  border-radius: 1.5rem;
}

#active {
    background-color: var(--Teritiorycolor) !important;
  color: var(--primary-color);
}

#notactive{
    background-color: transparent;
  color: var(--black);
}

.login_register a.register {
    border-radius: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  padding: 0rem 1rem 0rem 1rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: var(--black);
  font-family: "Roboto Mono", sans-serif;
  box-shadow: var(--shadow);
}

.form input.email {
  margin-bottom: 15px;
}

.form input.pass {
  margin-bottom: 5px;
}
.form p {
 color: var(--Teritiorycolor);
 font-size: 1rem;
 text-align: center;
 margin-top: -0.5rem;
 margin-bottom: 0.5rem;
}

.login_btn {
  font-size: 20px;
  color: var(--primary-color);
  border-radius: 1.5rem;
  border: none;
  background-color: var(--Teritiorycolor);
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 5px 9px rgba(211, 211, 211, 0.9);
}

.footer_card {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer_card p {
  margin-right: 10px;
  color: var(--black);
  font-size: 1.3rem;
}

.footer_card a {
  color: var(--secondaryColor);
  font-size: 1.3rem;
  font-style: italic;
}
