@media (max-width:450px)  {
  .textcontainerlanding h1{
    font-size: 3.0rem !important;
    line-height: 2.8rem;
  }
  .cardh1{
    font-size: 1rem !important;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  .cardtext > p{
    font-size: 0.5rem !important;
  }
  .left{
    height: 40.5% !important;
    width: 100% !important;
    border-bottom-right-radius: 100px !important;
  }
  .right{
    width: 100% !important;
    border-top-left-radius: 100px !important;
    top: 40% !important;
    height: 60% !important;
  }
  .card{
    width: 80% !important;
    padding: 10px;
  }
  .pic{
    width: 100%;
  }
}

@media (orientation: landscape) {
    .left{
      background-color: #E1BB80;
      position: absolute;
      height: 80%;
      bottom: 0;
      left: 0;
      width: 50%;
      border-top-right-radius: 142px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
    .right{
      height: 70%;
      width: 30%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #002945;
      border-bottom-left-radius: 142px;
    }
    .card{
      background-color: white;
      width: 25rem;
      height: 10rem;
      position: absolute;
      bottom: 30%;
      right: 40%;
      z-index: 1;
      border-radius: 40px;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding: 10px;
    }
    .pic{
      height: 100%;
      width: 40%;
      object-fit: contain;
      padding-right: 0.6rem;
    }
    .cardtext{
      display: flex;
      padding-left: 0.6rem;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 60%;
      box-sizing: border-box;
    }
}

@media (orientation: portrait) {

  .left{
    background-color: #E1BB80;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 47.5%;
    top: 0;
    border-bottom-right-radius: 142px;
    width: 95%;
  }
  .right{
    height: 47.5%;
    background-color: #002945;
    width: 95%;
    position: absolute;
    top: 50%;
    right: 0;
    border-top-left-radius: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
  .card{
    background-color: white;
    width: 50%;
    height: 80%;
    position: absolute;
    z-index: 1;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
  }
  .cardtext{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .cardh1{
    font-size: 2.7rem !important;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .cardtext > p{
    font-size: 2rem !important;
    font-weight: 300;
    text-align: center;
  }
}

.app{
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #00111C;
}

h2 {
  font-size: 1.5rem;
  color: #000000;
  margin-top: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5rem;
}
.textcontainerlanding{
  height: fit-content;
  width: 80%;
  word-wrap: normal;
}
.textcontainerlanding h1{
  font-size: 4.0rem;
  line-height: 3.8rem;
  word-wrap: normal;
}
.textcontainerlanding h2{
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  word-wrap: normal;
}
.cardh1{
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.cardtext > p{
  font-size: 1.4rem;
  font-weight: 300;
}
