* {
  margin: 0;
  padding: 0;
  z-index: 100;
  position: relative;
}
.main_nav {
  background-color: #00111C;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  transition: height 0.3s ease;
}
.contente {
    height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ul_links {
  letter-spacing: 1px !important;
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
  cursor: pointer;
}
.ul_links li {
  margin-right: 20px;
  color: white;
  cursor: pointer;
}

@media (max-width:450px)  {
  .main_logo span {
    display: none;
  }
  .main_logo {
    width: 10rem !important;
    height: 80% !important;
  }
  .text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px !important; 
   }
   .ul_links {
    list-style: none;
    gap: 0rem;
    cursor: pointer;
  }
  .ul_links li {
    margin-right: 10px;
    color: white;
    cursor: pointer;
  }
}

.main_logo {
  position: relative;
  color: white;
  width: 20rem;
  height: 100%;
  padding: 0;
}
.main_logo img {
  height: 120%;
  object-fit: cover;
  object-position: center center;
  margin-top: -0.5rem;
}
.main_logo span {
  font-weight: 600;
  position: relative;
  bottom: 0.6rem;
}
.sidecontent{
    position: absolute;
    left: 15rem;
}
.line {
  position: relative;
  border-bottom: 4px solid white;
  margin-top: 5px;
  width: 100%;
  transition: top 0.3s ease;
}
.subjects{
  color: white;
  position: absolute;
  width: 100%;
  z-index: 100;
  left: 1.5rem;
  display: none;
}
.footer{
  background-color: black;
}
main{
  left:0;
  z-index: 0;
  margin: 0;
  padding: 0;
  height: calc(100vh - 4.5rem);
  top: 4.5rem;
}
.column{
  margin-right: 2rem;
  float: left;
  width: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 9rem;
}
.anhors{
  margin-top: 10px;
  letter-spacing: 1px !important;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -0.2rem;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
.sidepanelbutton{
  width: 48px;
  height: 48px;
  filter: invert(1);
 }
 .text{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
 }
 .text img{
  filter: invert(1);
  height: 2rem;
 }