:root{
  --navTotalWidth: 30%;
  --navTotalHeight: 100vh;
  --navZindex: 101;
}
*{
  box-sizing: border-box;
}
.navigation_menue{
  width: var(--navTotalWidth);
  height: var(--navTotalHeight);
  color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--navZindex);
}
.upper_nav_body, .bellow_nav_body{
  height: 50%;
  width: 100%;
  background-color: aquamarine;
  border: 1px solid black;
  padding: 1rem;
}
.bellow_nav_body{
  height: 50%;
  width: 100%;
  background-color: aquamarine;
  border: 1px solid black;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 10%;
  width: 100%;
  background-color: aqua;
}
.nav_options , .nav_sub_options{
  display: block;
  height: 90%;
  width: 100%;
  background-color: aqua;
  border: 1px solid black;
  color: black;
  position: relative;
  overflow: hidden;
}
.imglogo{
  color: rgb(213, 125, 125);
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.nav_sub_options{
  height: 100%;
}


/* changable bellow nav with position absoliute */

.nav_suboptions_li{
  width: 100%;
  background-color: cadetblue;
  overflow-y: scroll;
  display: block;
  height: 100%;
}
.nav_suboptions_li li{
  padding: 1rem;
}

#suboptionSubjects{
  position: absolute;
  width: 100%;
  top: 0;
  background-color: cadetblue;
  pointer-events: none;
}
