:root{
  --borderRad: 2rem;
  --padding: 0.5rem;
  --navTotalWidth: 80px;
  --navTotalHeight: 100vh;
  --navZindex: 101;
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --primary-color: #FDFFFC;

  /* Lighter Shades */
  --primary-color-lighter-10: #FFFFFF;
  --primary-color-lighter-20: #FEFFFD;
  --primary-color-lighter-30: #FEFFFB;
  --primary-color-lighter-40: #FDFFFA;
  --primary-color-lighter-50: #FCFFFA;

  /* Darker Shades */
  --primary-color-darker-10: #D6DDD9;
  --primary-color-darker-20: #AEB8B2;
  --primary-color-darker-30: #879E98;
  --primary-color-darker-40: #616F68;
  --primary-color-darker-50: #3A5141;
  --secondaryColor: #235789; 
  --Teritiorycolor: #260F26; 
  --QuatarnaryColor: #F1D302;
  --black: #020100; 
}
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none; /* hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
}
*{
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .navigation_menue{
    width: 350px !important;
    margin-left: -100%;
  }
  .main_body{
    margin-left: 0px !important;
  }
}
.navigation_menue{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--padding);
  width: var(--navTotalWidth);
  height: var(--navTotalHeight);
  padding: var(--padding);
  border-top-right-radius: var(--borderRad);
  border-bottom-right-radius: var(--borderRad);
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--navZindex);
}
.upper_nav_body, .bellow_nav_body{
  height: 50%;
  width: 100%;
}
.logo{
  display: flex;
  padding: var(--padding);
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: calc(var(--borderRad) - var(--padding));
  height: 10%;
  width: 100%;
  background-color: var(--primary-color-darker-10);
}
.imglogo{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
}
.logoimg{
  width: inherit;
}
.nav_options , .nav_sub_options{
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color-darker-10);
  padding: var(--padding);
  color: black;
  position: relative;
  overflow: hidden;
  border-radius: calc(var(--borderRad) - var(--padding));
}

.nav_sub_options{
  height: 100%;
}
.nav_suboptions_li{
  width: 100%;
  overflow-y: scroll;
  display: block;
  height: 100%;
  overflow-x: hidden;
}

#suboptionSubjects{
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  margin-left: 100%;
  background-color: var(--primary-color-darker-10);
}

li{
  display: flex;
  align-items: center;
  gap: var(--padding);
  padding: var(--padding);
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  color: var(--white);
  border-radius: 1rem;
  font-size: 1.3rem;
}
li img{
  height: 2rem;
  filter: invert(1);
}
.lisp{
  background-color: var(--primary-color-darker-20);
}
.burgur , .burgur_main{
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  box-shadow: var(--shadow);
  border-radius: 50%;
}
.burgur_main{
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 101;
}
.burgur img, .burgur_main img{
  height: 2rem;
}
.user_li{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  height: max-content;
  position: relative;
  bottom: 0;
  top: 0;
}
.user_li span{
  padding: 0.3rem;
  border: 1px solid var(--black);
  border-radius: 10px;
  cursor: pointer;
}
.collapse-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
}
.collapse-container p{
  color: #020100;
}
.custom-link {
  color: var(--black); /* Change this to the desired color */
  text-decoration: none; /* Optional: remove underline */
}

.custom-link:hover {
  color: var(--secondaryColor); /* Optional: change color on hover */
  cursor: pointer;
}

[data-title] {
  position: relative;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.1s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  position: fixed;
  left: 80px;
  padding: 4px 8px;
  color: #222;
  white-space: nowrap; 
  border-radius: 5px;  
  box-shadow: var(--shadow);  
  border: 1px solid var(--black);
  background-color: var(--primary-color);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out;
}
.main_body{
  padding: var(--padding);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
}
/* Add this to your CSS file */
.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
