@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes slidein{
  from { opacity: 0; margin-left: -30%; }
  to { opacity: 1; margin-left: 0; }
}
.note-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.343);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

}
.note-overlay-content{
  width: calc(80%);
  height: calc(90%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 5px black;
  animation: fadeIn 0.15s ease-in forwards;
  border-radius: 35px;
}
.note-overlay-content textarea{
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  color: aliceblue;
  border-color: chocolate;
  padding: 10px;
  border-radius: 25px !important;
}
.note-overlay-content textarea:focus{
  outline: none;
}
.note-overlay-content button{
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 20px;
  background-color: rgb(0, 194, 0);
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  font-weight: 600;
}

.note-overlay-content button.cancle{
  right: 4%;
}
.noteref{
  background-color: #e1bb80 !important;
  animation: slidein 0.15s ease-in forwards;
  padding: 20px;
  white-space: pre-wrap;
  border-radius: 20px !important;
  border-style: none !important;
  margin: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.47);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  min-width: 300px;
  max-height: 600px;
  width: 300px;
  position: relative;
  overflow-y:visible;
  display: block;
}

.fotter_note{
  position: absolute;
  width: calc(300px - 40px);
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

