*{
    margin: 0;
    padding: 0;
}

.lefttext > h1{
  font-size: 400 !important;
  color: white !important;
}
.lefttext > img{
  filter: invert();
}

.rightnav{
    width: clamp(200px,20%,500px);
    height: 100%;
    right: 0;
    background-color: var(--Teritiorycolor);
    overflow-y: auto;
    overflow-x: hidden;
    border: white 0.15rem solid;
    transition: right 0.3s ease;
    border-radius: var(--borderRad);
    padding: var(--padding);
  }

  .selectedLi{
    min-height: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--QuatarnaryColor) !important;
    color: #00111C;
    border-radius: 10px;
    transition: background-color 0.5s;
  }

  .lefttext{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding);
    width: 95%;
    margin: auto;
    margin-bottom: var(--padding);
  }
  .subtopics{
    width: calc(100%-40px);
  }
  .rightul{
    width: 100%;
    list-style: none;
    gap: var(--padding);
  }
  .rightli{
    background-color: var(--primary-color);
    cursor: pointer;
    width: 100%;
  }
  li{
    margin-bottom: var(--padding);
  }
 h3{
    width: 100%;
 }
