.video{
    height: 53vh;
    border-radius: 35px;
    background-color: #00416c96;
    backdrop-filter: blur(10px);
    position: relative;
  }
  .video iframe{
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 15px;
  }